<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body class="container">
    <form method="POST" action="create_expenses/">
        {% csrf_token %}
        <p>
            <label>Введите дату</label><br>
            <input type="text" name="data_expenses" />
        </p>
        <p>
            <label>Введите сумму</label><br>
            <input type="number" name="amount" />
        </p>
        <p>
            <label>Категория</label><br>
            <input type="choise" name="category" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    
</body>
</html>
